*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

@media (max-width: 775px) {
    .css-1m9128y{
        display: none;
    }
}

.css-1rxz5jq-MuiSelect-select-MuiInputBase-input-MuiInput-input:focus,
.css-1rm82d9-MuiButtonBase-root-MuiMenuItem-root.Mui-selected,
.css-11ncml1-MuiButtonBase-root-MuiMenuItem-root.Mui-selected:hover{
    background-color: #fff !important;
}
